#about
    padding-top 120px


    .content
        font-family OpenSans
        margin-top 50px
        .col-md-6
            padding-left 40px
            padding-right 40px

        .subTitle
            font-size 30px

        .description
            color #333
            font-weight 200
            font-size 22px
            line-height 32px
            text-align justify
