low-morte   = #f5e5f7
mid-morte   = #eeb1f5
high-morte  = #a813b9

low-guerra  = #eff6f7
mid-guerra  = #cef3f9
high-guerra = #70acb5

low-peste  = #fcf7e9
mid-peste  = #fceec6
high-peste = #e5ba37

low-fome  = #eff1e9
mid-fome  = #DDECB0
high-fome = #6f8635

font-black = #333
