#download
    height 100%

    .platform
        height 200px
        padding-top 50px
        padding-left 120px

    .web
        span.glyphicon
            font-size 100px
            color #0CB3EE

    .media-body
        width 500px

    .platformIcon
        max-width 100px

    .glyphicon
        display inline
        margin-left 10px

