html, body
    height 100%

section
    height 100%
    display initial
    .container
        padding-top 60px

a
    text-decoration none!important
    &:hover
        text-decoration none!important

.title
    text-transform uppercase
    text-align center
    height 120px
    padding 10px
    a
        color #333
        transition color .5s
    h1
        transition font-size .1s
        font-size 48px


img.imgLogo
    width 450px

.thin-300
    font-weight 300
.thin-200
    font-weight 200
.thin-100
    font-weight 100

.upper
    text-transform uppercase
    > *
        text-transform uppercase
