#home
    position relative
    width 100%
    height 100%

    .overlay
        position absolute
        width 100%
        height 100%
        background-color rgba(0,0,0,0.45)
        top 0
        left 0
        z-index 20

    .homeMedia
        // background url('/img/background.jpg') no-repeat center center scroll
        // background-size cover
        position absolute
        width 100%
        height 100%
        left 0
        top 0
        z-index 10

        video
            position absolute
            display block
            min-width 100%
            min-height 100%
            margin auto
            z-index -90
            bottom 0

    .ui
        position relative
        width 100%
        height 100%
        z-index 100

        .homeLogo
            position absolute
            margin auto
            top 25%
            left 0
            right 0
            text-align center

