#menu
    position fixed
    top 10%
    z-index 200
    padding-right 0
    width auto
    right 5%

    #menuMorte
        background-color low-morte
        border-left 4px solid high-morte

        &:hover
            background-color mid-morte

    #menuGuerra
        background-color low-guerra
        border-left 4px solid high-guerra

        &:hover
            background-color mid-guerra

    #menuPeste
        background-color low-peste
        border-left 4px solid high-peste

        &:hover
            background-color mid-peste

    #menuFome
        background-color low-fome
        border-left 4px solid high-fome

        &:hover
            background-color mid-fome
    ul
        li
            cursor: pointer
            margin-top: 5px
            height 55px
            list-style none
            border-radius 50px
            width 190px
            overflow hidden
            transition all .25s
            span
                padding 10px 15px
                width 190px
                color font-black

                &:hover
                    background none
                    border-radius 50px
                    height 55px

            .menuContent
                display inline-block

                .headPerson
                    max-width 50px
                    margin-left -12px

                .menuTitle
                    font-size 20px
                    vertical-align text-top


