#team
    .honeycombs
        margin-top 10%
        .comb
            text-align center
            // transition all .7s

            .name
                position relative
                top 50%
                z-index 999
                cursor pointer
                font-size 40px
                color red
                &:hover
                    visibility visible

            .hex_inner
                overflow hidden
                transition all .7s
                z-index 9
                // &:hover
                    // filter unquote('blur(20px) saturate(0.7)')

                    // .name
                        // &:hover
                            // visibility visible
                            // color blue!important
