doctype html
html(lang='pt-br')
  head
    include _partials/meta.jade
    title 4Cavaleiros
    link(rel="stylesheet" type="text/css" href="style.css")
    script(data-cfasync="false" src="static/bundle.js")
  body
    include _partials/menu.jade
    include _partials/home.jade
    include _partials/about.jade
    include _partials/download.jade
    include _partials/team.jade
    include _partials/footer.jade
