div#about
    .container
        .title
            h1.thin-100
                a(href="#about")= about.title
        br
        hr
        .content
            .col-md-6
                h3.subTitle.upper Historia
                p.description!= about.column1

            .col-md-6
                br
                br
                br
                p.description!= about.column2
