-macDownload= "https://drive.google.com/file/d/0B04ULKwaZK7ZWnJ1NnV3dHBXUVU/view?usp=sharing"
-winDownload= "https://drive.google.com/file/d/0B04ULKwaZK7ZYS1GdS05N1lLcUU/view?usp=sharing"


section#download

    .container
        .title
            a(href="#game")
                h1.thin-100 Download
                h5 Prototipo
        br
        hr
        .row
            .col-md-4.platform
                .media
                    a.media-left
                        img.platformIcon(src='static/img/finder-icon.png')
                    .media-body.media-middle
                        h4.media-heading
                            a(href= macDownload target='_BLANK') Mac OS X
                        a(href= macDownload target='_BLANK') 4Cavaleiros.V085_Mac.zip
                            span.glyphicon.glyphicon-download
            .col-md-4.platform
                .media
                    a.media-left
                        img.platformIcon(src='static/img/windows-icon.png')
                    .media-body.media-middle
                        h4.media-heading 
                            a(href= winDownload target='_BLANK') Windows
                        a(href= winDownload target='_BLANK') 4Cavaleiros.v085_Win.zip
                            span.glyphicon.glyphicon-download
            .col-md-4.platform
                .media.web
                    a.media-left
                        span.glyphicon.glyphicon-globe
                    .media-body.media-middle
                        h4.media-heading
                            a(href='#') Web
                        | Aguarde...
