header#home

    .overlay
    .homeMedia
        video(autoplay, loop, poster="static/img/background.jpg")
            source(src="static/video/4cavaleiros-movie.webm", type="video/webm")

    .ui
        .container
            .homeLogo
                img.imgLogo(src="static/img/logo.png")
