header#home

    .overlay
    .homeMedia
        video(autoplay, loop, poster="img/background.jpg")
            source(src="video/4cavaleiros-movie.webm", type="video/webm")

    .ui
        .container
            .homeLogo
                img.imgLogo(src="/img/logo.png")
