.col-md-12
    .col-md-11#menu
        ul.nav.nav-pills.nav-stacked.pull-right.upper.thin-200
            li#menuMorte.menu-nav(name='0')
                span.home--btn
                    .menuContent
                        img.headPerson(src='static/img/persons/head/iconMorte-g.png', alt='Home')
                        span.menuTitle Home
            li#menuGuerra.menu-nav(name='1000')
                span.about--btn
                    .menuContent
                        img.headPerson(src='static/img/persons/head/iconGuerra-g.png', alt='Home')
                        span.menuTitle Sobre
            li#menuPeste.menu-nav(name='')
                span.team--btn
                    .menuContent
                        img.headPerson(src='static/img/persons/head/iconConquista-g.png', alt='Home')
                        span.menuTitle Equipe
            li#menuFome.menu-nav
                span
                  a(href='mailto:cesardeazevedo@outlook.com')
                      .menuContent
                          img.headPerson(src='static/img/persons/head/iconFome-g.png', alt='Home')
                          span.menuTitle Contato
