meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name="description" content="description")
meta(name="keywords" content="keyword")
meta(name='author' content='4cavaleiros')
meta(name='revisit-after' content='5 days')

meta(property='og:locate' content='pt-br')
meta(property="og:title" content="title")
meta(property='og:site_name' content='4cavaleiros.com')
meta(property='og:url' content='http://4cavaleiros.com')
meta(property="og:image" content="https://4cavaleiros.com/img/fb-img-post.png")
meta(property='og:type' content='website')
meta(property="og:description" content="description")

meta(name='twitter:card' content='summary')
meta(name='twitter:title' content='title')
meta(name='twitter:description' content='description')
meta(name='twitter:image' content='https://4cavaleiros.com/img/fb-img-post.png')
meta(name='twitter:site' content='4cavaleiros.com')
