meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name="description" content="A trama de 4Cavaleiros começa quando Baal, um ser do Inferno, resolve trazer o Apocalipse à Terra, antes do previsto pelo acordo entre Paraíso e Inferno (No caso o Paraíso ganhou no Jo Ken Po do Inferno e decidiu deixar o Apocalipse para um outro milênio).")
meta(name="keywords" content="4cavaleiros, 4 cavaleiros, tcc, jogo, FMU, FMU TCC, morte, guerra, fome, peste, conquista, apocalipse, cavaleiros")
meta(name='author' content='Cesar Augusto')
meta(name='revisit-after' content='2 days')
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(property='og:locate' content='pt_BR')
meta(property="og:title" content="4Cavaleiros")
meta(property='og:site_name' content='4Cavaleiros')
meta(property='og:url' content='https://4cavaleiros.com.br')
meta(property="og:image" content="https://4cavaleiros.com.br/static/img/fb-post.jpg")
meta(property="og:image:secure_url" content="https://4cavaleiros.com.br/static/img/fb-post.jpg")
meta(property='og:type' content='website')
meta(property="og:description" content="A trama de 4Cavaleiros começa quando Baal, um ser do Inferno, resolve trazer o Apocalipse à Terra, antes do previsto pelo acordo entre Paraíso e Inferno (No caso o Paraíso ganhou no Jo Ken Po do Inferno e decidiu deixar o Apocalipse para um outro milênio).")

meta(name='twitter:card' content='summary')
meta(name='twitter:title' content='4Cavaleiros')
meta(name='twitter:description' content='A trama de 4Cavaleiros começa quando Baal, um ser do Inferno, resolve trazer o Apocalipse à Terra, antes do previsto pelo acordo entre Paraíso e Inferno (No caso o Paraíso ganhou no Jo Ken Po do Inferno e decidiu deixar o Apocalipse para um outro milênio).')
meta(name='twitter:image' content='https://4cavaleiros.com.br/static/img/fb-post.jpg')
meta(name='twitter:site' content='4cavaleiros.com.br')
