section#team
    .container
        .title
            a(href="#team")
                h1.thin-100 Equipe
        br
        hr
        .honeycombs
          .comb
            img.person(src="https://graph.facebook.com/100001954978224/picture?width=9999&height=9999")
          .comb
            img.person(src="https://graph.facebook.com/1659287253/picture?width=9999&height=9999")
          .comb
            img.person(src="https://graph.facebook.com/100002596822455/picture?width=9999&height=9999")
          .comb
            img.person(src="https://graph.facebook.com/100002709459364/picture?width=9999&height=9999")
          .comb
            img.person(src="https://graph.facebook.com/1010725190/picture?width=9999&height=9999")
          .comb
            img.person(src="https://graph.facebook.com/100000160033258/picture?width=9999&height=9999")
          .comb
            img.person(src="https://graph.facebook.com/100006045877113/picture?width=9999&height=9999")
