section#team(ng-controller="TeamController")
    .container
        .title
            a(href="#team")
                h1.thin-100 Equipe
        br
        hr
        .honeycombs
          for person in team
            .comb
              img.person(src="https://graph.facebook.com/#{person.id}/picture?width=9999&height=9999")
